1-findViewByid() it returns the object of View class,that object can be converted to another class object.
4-package is collection of classes,and interface is similar to class only diff is that interface contains only the decleration
of the function.interface does not contain the  function body.

5-extends keyword we use to inherit a class.where as implements keyword we use to implement a interface in a class.
6-typecasting is a method.that is used to convert one data type to another type.


8-An event listener is an interface in the View class that contains a callback method. These methods will be called by the Android framework when the View to which the listener has been registered is triggered by user interaction with the item in the UI.


              there are seven types of eventListner.
  

OnClickListener()

This is called when the user either clicks or touches or focuses upon any widget like button, text, image etc. You will use onClick() event handler to handle such event.
	

OnLongClickListener()

This is called when the user either clicks or touches or focuses upon any widget like button, text, image etc. for one or more seconds. You will use onLongClick() event handler to handle such event.


OnFocusChangeListener()

This is called when the widget looses its focus i.e. user goes away from the view item. You will use onFocusChange() event handler to handle such event.



onKeyListener()
This is called when the user is focused on the item and presses or releases a hardware key on the device. You will use onKey() event handler to handle such event.


OnTouchListener()

This is called when the user presses the key, releases the key, or any movement gesture on the screen. You will use onTouch() event handler to handle such event.

OnMenuItemClickListener()

This is called when the user selects a menu item. You will use onMenuItemClick() event handler to handle such event.


onCreateContextMenuItemListener()

This is called when the context menu is being built(as the result of a sustained "long click)


9-overloading is a feature of java.which allows a programmer to define one or more function with the same name but with different parameter.
           overriding is a oops  language feature in which a method of base class is re-defined in child class.

3-An anonymous inner class is an inner class that is declared without using a class name at all
    – and that of course is why it’s called an anonymous class.
  the class which is not anonymous is called non anonymous.it same as class.
    
 12- gravity refers to the arrangement of content in View.
    
    
  10-  we use  margin like top,down,left,right to clears an area around an element (outside the border). 
    The margin does not have a background color, and is completely transparent.



